*{margin:0;padding:0; }
 .header{
 	font-family: 'Playfair Display', serif;
 }
.header1{
	background-color: #6e6d63;
	height: 35px;
	width: 100%;
 }
 .header2{
 	background-color: #eaeef0;
 }
 .tbh{
 	font-family: 'Playfair Display', serif;
	color: white;
	padding-top: 7px;
 }
 .phone{
 	color: white;
	padding-top: 7px;

 }
 .tt, .bb{
	float: right;
}

button.but{
	background-color: #7c7c72;
	color: white;
	font-size: 16px;

}
.but:hover{
	color: white;
	background-color: #000000b5;
	transition: 0.5s
}
.me.a{
	margin-left: 100px;
	font-size: 20px;
}
.me{
	color: black;
	font-size: 16px;
	color: #5e5e5e;
	margin-top: 5px;
	margin-bottom: -10px;
	margin-right: 30px;
}
.footer{
	color: #5e5e5e;
	font-size: 17px;
	margin-top: 50px;
	font-family: 'Playfair Display', serif;
}
.footer1{
	margin-bottom: 50px;
}
.ho{
	padding-bottom: 30px;
}
.logo{
	width: 200px;
	height: 200px;
}
.hotea{
	margin-top: 100px;
}
.face, .tw, .ins, .goo{
	background-color: #6e6d63;
	color: white;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	font-size: 18px;
	padding-top: 8px;
	padding-left: 10px;
	float: right;
	margin-right: 20px;
}
.face{
	padding-left: 12px;
}
.goo{
	padding-left: 6px;
}
.arr{
	background-color: #6e6d63;
	color: white;
	width: 50px;
	height: 50px;
	border-radius: 3px;
	font-size: 25px;
	padding-top: 13px;
	padding-right: 13px;
	margin-right: 30px;
}
.mndc{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
}
.ha{
	position: relative;
}
.itemaa{
	list-style: none;
}
.itemaa li a{
	
	font-size: 13px;
    line-height: 40px;
    color: #5e5e5e;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}
.ha:hover .mndc{
	opacity: 1;
	visibility: visible;
	background-color: white;
	width: 250px;
	height: 200px;
	border-radius: 5px;
	padding-left: 10px;
	margin-top: 10px;
	transition: 0.5s;
}
/*header footer*/

.content{
 	font-family: 'Playfair Display', serif;
 	font-size: 16px;
	color: #5e5e5e;
	
 }
 
.place input{
	width: 500px;
	height: 40px;

}
.dk b{
	font-size: 25px;
}
.dk{
	padding-top: 10px;
}
.email, .pass{
	padding-left: 35px;
	margin-top: 30px;
}
.repass, .userdn{
	padding-left: 35px;
	margin-top: 30px;
}
.dky{
	width: 400px;
	margin-top: 20px;
}
.dky b{
	font-size: 20px;
}
.dkya{
	border: 1px solid gray;
	width: 800px;
	height: 700px;
}
.select_item{
	width: 200px;
	height: 35px;
	margin-top: 10px;
}
.gia{
	color: #3f51b5d9;
}
.text{
	margin-top: 30px;
}
.gioithieua{
	font-size: 17px;
    line-height: 28px;
    color: #5e5e5e;
    font-family: 'Playfair Display', serif;
   /* margin-left: 100px;
    margin-right: 100px;*/
}
.ttp{
	margin-top: 30px;
}
.date_time{
	margin-top: 10px;
}