*{
	margin: 0;
	padding: 0;
}
a.ql{
	padding: 10px;
}
nav.menu{
	height: 100vh;
	border-right: 1px solid #cccccc;
}
ul li.one{
	margin-top: 60px;
}
.tqt{
	margin-top: 51px;
}

.table-room{
	margin-top: 70px;
}