*{margin:0;padding:0; }
 .header{
 	font-family: 'Playfair Display', serif;
 }

.cau h1{
	font-family: 'Playfair Display', serif;
}
.content1{
	margin-top: -25px;
}
.content2{
	margin-top: 50px;
}
.gioithieu{
	font-size: 17px;
    line-height: 28px;
    color: #5e5e5e;
    font-family: 'Playfair Display', serif;
}
.img21 img{
	position: relative;
	width: 1000px;
	height: 500px;
	margin-top: 50px;
}
#map{
	margin-top: -500px;
	margin-left: 670px;
	position: absolute;
}
.mapp iframe{
	width: 400px!important;
	height: 400px;
}
.di h1{
	font-family: 'Playfair Display', serif;
	margin-top: 100px;
	margin-left: 450px;
	margin-bottom: 50px;
}
.haha{
	color: #daa520;
	font-size: 15px;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    margin-top: 20px;
}
.img10 img{
	width: 1000px;
	height: 500px;
	margin-bottom: 50px;
}
