*{margin:0;padding:0; }

.content{
 	font-family: 'Playfair Display', serif;
 	font-size: 16px;
	color: #5e5e5e;
	
 }
 
.place input{
	width: 500px;
	height: 40px;
	border: 1px solid #999999;
	padding-left: 10px;
	border-radius: 3px;
}
.dk{
	padding-top: 25px;
}
.email, .pass{
	padding-left: 35px;
	margin-top: 30px;
}
.repass, .userdn{
	padding-left: 35px;
	margin-top: 30px;
}
.dky{
	width: 400px;
	margin-top: 40px;
	margin-bottom: 70px;
}
.dkya{
	border: 1px solid gray;
	width: 600px;
	margin-top: 50px;
}
.dkyb{
	border: 1px solid gray;
	width: 600px;
	/*height: 550px;*/
	margin-top: 50px;
}
.warning{
	color: #bf0000;
	margin-top: 6px;
	margin-left: 34px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger1 {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert1 {
	/*color: red;*/
	width: 500px;
	margin-left: 35px;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}